<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Revoke Certificate</title>

    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>

<body>

<h1>Revoke Certificate</h1>

<h3>Revoke by PDF</h3>

<form
    hx-post="/certificates/revoke"
    hx-target="#result"
    hx-encoding="multipart/form-data">

    <input
        type="file"
        name="pdf"
        required>

    <button type="submit">
        Revoke PDF
    </button>

</form>

<hr>

<h3>Revoke by Hash</h3>

<form
    hx-post="/certificates/revoke/hash"
    hx-target="#result">

    <input
        type="text"
        name="certificate_hash"
        placeholder="Certificate Hash"
        required>

    <button type="submit">
        Revoke Hash
    </button>

</form>

<hr>

<div id="result"></div>

</body>
</html>