<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Verify Certificate</title>

    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>

<body>

<h1>Verify Certificate</h1>

<h3>Verify by PDF</h3>

<form
    hx-post="/certificates/verify"
    hx-target="#result"
    hx-encoding="multipart/form-data">

    <input
        type="file"
        name="pdf"
        required>

    <button>
        Verify PDF
    </button>

</form>

<hr>

<h3>Verify by Hash</h3>

<form
    hx-post="/certificates/verify/hash"
    hx-target="#result">

    <input
        type="text"
        name="certificate_hash"
        placeholder="Certificate Hash"
        required>

    <button>
        Verify Hash
    </button>

</form>

<hr>

<div id="result"></div>

</body>
</html>